<div class="profile-container">
    <a href="/" class="back-button">&#x2190;</a>
    <h1>Perfil</h1>
    <p><strong>Rol:</strong> {{role}}</p>
    <p><strong>Nombre:</strong> {{first_name}} {{last_name}}</p>
    <p><strong>Email:</strong> {{email}}</p>
    <p><strong>Edad:</strong> {{age}}</p>
    <a href="/auth/logout" class="logout-button">Cerrar Sesión</a>
    <a href="/auth/change-password" class="change-password-button">Cambiar Contraseña</a>
</div>